
* {
	box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html,body {
    width: 100%;
	min-height: 100vh;
	margin: 0;
}

header {
    height: 60px;
}


.container {
	background-color:#FFFFFF;
	border-radius: 5px;
    margin-top: 70px;
    filter: drop-shadow(4px 4px 4px rgb(0, 0, 0,0.25));
    width: 100%;
    /* height: calc(100% - 120px); */
    /* margin: 0 auto; */
    padding: 40px 60px;
}

.container .right-content {
    /* background-color: aliceblue; */
    width: 60%;
}

.todo-container {
    padding-top: 50px;
}

.todo-container .todo-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.todo-container .todo-header input {
    width: 85%;
    height: 50px;
    padding: 12px;
    color: #5A38FD;
    font-weight: 400;
    font-size: 15px;
}
.todo-container .todo-header input:focus {
    border: 1px solid #191919;
    outline: 0;
}
.button-div {
    height: 50px;
    background-color: aliceblue;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.todo-container .todo-header .button-div button {
    width: 120px;
    background-color: #5A38FD;
    height: 40px;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 2px ;
}
.todo-container .todo-header .button-div button:hover {
    opacity: 0.8;
}

.todo-list-item {
    padding-top: 30px;
}
.tasks {
    width: 100%;
}

.tasks .item {
    width: 100%;
    border-bottom: 1px solid black;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:  0 10px 30px rgba(0,0,0,0.1);

}

.item p {
    font-size: 16px;
    font-weight: 400;
}
.item-btn {
    height: 50px;
    background-color: aliceblue;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;   
    cursor: pointer;
    border-radius: 50%;
}

.item-btn:hover {
    background-color: red;
}

.item-btn i {
    font-size: 20px;
}





  /* .tasks .task {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  .tasks .task:not(:last-child) {
    margin-bottom: 15px;
  }
  .tasks .task:hover {
    background-color: #f7f7f7;
  }
  .tasks .task.done {
    opacity: 0.5;
  } */








/* .todo-header {
    background-color: red;
    width: 100%;
} */